
h1 {
	text-align: center;
}

body {
	display: block;
	margin: auto;
	margin-bottom: 50px;
	width: 80%;
	max-width: 1100px;
}

.demo {
	display: block;
	width: 90%;
	margin: auto;
}

.grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 10px;
    justify-items: end;
}

.grid-child {}
